<div class="deleteDest">
    <h1>Delete a destination from Database</h1>
    <form  [formGroup]="deleteDestForm" (ngSubmit)="onSubmit()" type="submit" >
        <div class="details">
            <label>Enter the name of the city you want to delete</label><br>
            <input id="cityInput" type="text" placeholder="City name" formControlName="name" name="name">
        </div>
        <div class="details">
            <button class="delete" type="submit" >Delete</button>
        </div>
    </form>
</div>

<div class="errors" *ngIf="emptyInput">
    <p id="emptyInputError">please enter the name of a city</p>
</div>
<div class="errors" *ngIf="noDataFound">
    <p id="notFoundError">404: No data on "{{deleteDestForm.value.city}}" was found. Try one of the following:</p>
    <ul>
        <li>Make sure that the first letter of the city name is a capital letter</li>
        <li>Try a new city name</li>
        <li>Create your own submission for "{{deleteDestForm.value.city}}" by navigating to the <a href="/create">Create</a> page</li>      
    </ul>
</div>