:host {
    margin: 0;
    padding-top: 50px; /* Adjust padding as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255); 
}
.deleteDest {
    margin-top: 150px;
    display: block;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
    padding: 20px; 
    background-color: rgb(110, 151, 241); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}
h1 {
    margin-top: 80px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
}
#cityInput {
    text-align: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-block: 5px;
    font-size: large;
    border-radius: 10px;
    width: 300px;
}
.details {
    margin-top: 0;
    margin-bottom: 15px; /* Adds space between each form control group */
}

.details label {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-block: 50px;
}

.details input[type="text"],
.details input[type="number"],
.details textarea {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%; /* Full width of its parent */
    border-radius: 5px; /* Slightly rounded corners for aesthetics */
    border: none; /* Removes default border */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}

.delete {
    padding: 10px 20px;
    color: #6e97f1; /* Blue color to match the background */
    background-color: aliceblue; /* Light background for the button */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.delete:hover {
    background-color: #bdc3c7; /* Changes background on hover for a button interaction effect */
}
#emptyInputError {
    color: red;
}
#notFoundError {
    color: rgb(79, 135, 255);
}
.errors {
    text-align: center;
}
.errors ul{
    text-align: lef;
}